/* Estilos para la galería de actividades */
body {
  background: linear-gradient(45deg, #16c1c8, #e1ecd6);
  color: #333; /* Color del texto principal */
  font-family: Arial, sans-serif; /* Tipografía del cuerpo */
  min-height: 100vh;
}

.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 36px;
  /*make font bold*/
  font-weight: bold;
  color: #333;

}

.row {
  justify-content: center;
}

.card {
  margin: 10px;
  transition: box-shadow 0.3s ease;
  background-color: #fff; /* Fondo de las tarjetas */
  border-radius: 10px; /* Esquinas redondeadas de las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333; /* Color del texto del título de la tarjeta */
}

.selected-card {
  background-color: skyblue;
  border: 2px 
}

.unselected-card {
  background-color: #fff;
  border: 1px solid #ccc;
}

.modal-content {
  padding: 20px;
  border: none;
  border-radius: 10px;
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal-header {
  color: black;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
}

.modal-footer {
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.modal-body input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-primary { 
  border: none;
}

