.container{
    display: flex;
    flex-direction: column;
    text-align: center; 
    width: 70%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 15%;
    background-color: #a9d1cd;
    
}
.input-container{
    margin: 2%;
}
input{
    width: 100%;
}
.btn-container{
    text-align: center;
    margin-top: 6%;
}
.title{
    text-align: center;
    margin-bottom: 4%;
}
.login, .guest-sign{
    justify-content: space-around;
    text-align: left;
    margin: 5%;
}

@media (min-width: 700px) {
    .container{
        margin-top: 70px;
    }
}

@media (min-width: 850px) {
    .container{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10%;
    }
    hr{
        margin: 10px;
        border: solid black;
        border-radius: 10px;
    }

    
    
  }