<div class="container">
    <div class="login">
        <div class="title">
            <h2>Login</h2>
        </div>
        <form method="post">
            <div class="input-container">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Your username" required   [(ngModel)]="admin.name">
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Your password" required [(ngModel)]="admin.password">
            </div>
            <div class="btn-container">
                <input type="submit" class="btn btn-primary btn-md go" value="Login" (click)="sendAdmin()">
            </div>
            <div *ngIf="errorMessage" class="error-message text-danger">
                {{ errorMessage }}
              </div>
        </form>
    </div>
    <hr>
    <div class="guest-sign">
        <div class="title">
            <h2>Sign as guest</h2>
        </div>
        <form method="post">
            <div class="input-container">
                <label for="session">Session code:</label>
                <input type="text" name="session" id="session" placeholder="Session code" required>
            </div>
            <div class="btn-container">
                <input type="submit" class="btn btn-primary btn-md go" value="Join">
            </div>
        </form>
    </div>
</div>