body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.title{
    margin-top: 40px;   
}
.subtitle{
    margin-top: 40px;
    
}
.split{
    width: 50%;
    margin: 20px auto;
    border: 1px solid #555555; 
    margin-bottom: 150px;
}

.podium {
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: end;
    border-bottom: solid 2px black;
    width: 90%;
}

.position {
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.first {
    background-color: gold;
    height: 220px;
    
}

.second {
    background-color: silver;
    height: 150px;
}

.third {
    background-color: #cd7f32;
    height: 130px;
}
.btn-container{
    width: 90%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: end;
}
.exit-btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.exit-btn:hover {
    background-color: rgb(85, 22, 22);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}