<body>
    <div class="title"><h2>Your session has finished</h2></div>
    <div class="subtitle"><b>Here are the results!</b></div>
    <hr class="split">
    <div class="podium">
        <div class="position second">
            <h2>2º</h2>
            <p>second place</p>
        </div>
        <div class="position first">
            <h2>1º</h2>
            <p>first place</p>
        </div>
        <div class="position third">
            <h2>3º</h2>
            <p>third place</p>
        </div>
    </div>    
    <div class="btn-container">
        <div class="exit-btn" (click)="exit()">Exit</div>
    </div>
</body>