.page{
    background-color: #CCF0FF;
    border-radius: 10px;
    padding-bottom: 30px;
    margin: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.title{
    height: 60px;
    font-size:larger;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-container{
    width: 100%;
    height: 200px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
button{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    font-size:xx-large;
}
.select-container{
    padding: 30px;
    margin-top: 10px;
    padding-top: 10px;
    border: solid black 1px;
    border-radius: 10px;
    overflow-y: auto;
    height: 400px;
    width: 95%;
    background-color: azure;
}
@media (min-width: 850px){
    .content{
        flex-direction: row;
    }
    .create-container{
        width: 30%;
    }
    .select-container{
        width: 70%;
        height: 600px;
        margin-right: 15px;
    }
}