<div class="container">
    <div class="activity-container">
        <h1>{{currentActivity.title}}</h1>
        <img class="activity-image" src="{{currentActivity.imgPath}}" />
    </div>
    <div *ngIf="voto">
    <div class="votation-container">
        <button class="buttons like-btn btn btn-success" (click)="onClick(1)">
            <i class="bi bi-check-lg my-icon"></i>
        </button>
        <button class="buttons neutral-btn btn btn-secondary" (click)="onClick(0)">
            <div class="neutral-img"></div>
        </button>
        <button class="buttons dislike-btn btn btn-danger" (click)="onClick(-1)">
            <i class="bi bi-ban my-icon-ban"></i>
        </button>
    </div>
    </div>
</div>