<div class="container">
    <div class="activity-container">
        <img class="activity-image" src="https://www.cnet.com/a/img/resize/ea5ddbafc037b5e1230c1a55a1a53eea7dec1d36/hub/2020/10/26/b60bfe6f-3193-4381-b0d4-ac628cdcc565/img-1419.jpg?auto=webp&fit=crop&height=675&width=1200" />
    </div>
    <div class="votation-container">
        <button class="buttons like-btn btn btn-success">
            <i class="bi bi-check-lg my-icon"></i>
        </button>
        <button class="buttons neutral-btn btn btn-secondary">
            <div class="neutral-img"></div>
        </button>
        <button class="buttons dislike-btn btn btn-danger">
            <i class="bi bi-ban my-icon-ban"></i>
        </button>
    </div>
</div>